{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url(' {{ url_for('static',filename='assets/img/home-bg.jpg') }} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{parameters['blog_heading']}}</h1>
                    <span class="subheading">{{parameters['blog_subheading']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
{% for post in posts %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{post.slug}}"> <!-- when click in post then redirect to this url site -->
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.subtitle}}</h3>
                </a>
                {{post.content[:130]}} ....
                <p class="post-meta">Posted by <a href="#!">{{parameters['blog_name']}}</a> on {{post.date}}</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div>
</div>
{% endfor %}
<!-- Pager-->
<div>
<a class="btn btn-primary" style="margin-right:20vw; margin-left: 15%;" href="{{previous}}">&larr;Previous</a>
<a class="btn btn-primary" style=" margin-left: 29vw;" href="{{next}}">Next &rarr;</a>
</div>
<!-- Footer-->
{% endblock %}